.gaming-page {
	margin-top: -126px;
	background-image: url(../images/gaming/gaming-hero-bg.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	@include media-breakpoint-down(lg) {
		background-position: center;
		background-size: cover;
	}
	@include media-breakpoint-down(md) {
		margin-top: -84px;
		background-position: center;
		background-size: cover;
	}

	main {
		padding-top: 100px;
	}
	.hero-section {
		padding: 0px;
		.container {
			display: flex;
			width: 100%;

			align-items: center;
			justify-content: center;
			flex-direction: column;
			background: unset;
			@include media-breakpoint-down(lg) {
			}
			h1 {
				text-align: center;
				width: 100%;
				color: #fff;
			}
			.text {
				text-align: center;
				color: #fff;
				max-width: 490px;
			}
			.button-box {
				width: 100%;
				display: flex;
				flex-direction: row;
				align-items: center;
				@include media-breakpoint-down(lg) {
					flex-direction: column;
					align-items: start;
				}
			}
		}
	}

	.unleash-section {
		padding: 0px;
		@include media-breakpoint-down(sm) {
			padding-top: 100px;
		}

		.gradient-text {
			background: linear-gradient(113.53deg, #f3acae 10%, #7b2bf9 57.35%, #8ccfe9 100%);
			background-clip: text;
			-webkit-background-clip: text;
			-webkit-text-fill-color: transparent;
		}

		// .three-col-grid {
		// 	position: relative;
		// 	z-index: 1;
		// 	grid-row-gap: 20px;
		// 	display: grid;
		// 	grid-template-columns: 1fr;
		// 	grid-auto-rows: auto;
		// 	grid-column-gap: 20px;
		// 	@include media-breakpoint-up(md) {
		// 		grid-row-gap: 20px;
		// 		grid-template-columns: 1fr 1fr;
		// 		grid-column-gap: 20px;
		// 		grid-auto-rows: auto;
		// 		.span-full {
		// 			grid-column-start: 1;
		// 			grid-column-end: 3;
		// 		}
		// 	}
		// }
	}
}
